body {
  background-color: rgba(99, 186, 200, 0.867);
  margin: 3%;
}
.button, .a {
  color: white;
  padding: 5px 35px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
  background-color: #008CBA; 
  color: white; 
  border: 2px solid #008CBA;
}
.button:hover {
  background-color: white;
  color: black;
}
.form {
  max-width: 500px;
  padding: 15px 40px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 25px;
}
.kotakform {
  font-size: 15px;
  width: 100%;
  height: auto;
  padding: 10px;
}
.buttonadd {
  background-color: #008CBA;
  margin-left: 45%; 
  color: white; 
  border: 2px solid #008CBA;
}
.buttonadd:hover {
  background-color: white;
  color: black;
}